
/* Makes home background a single color */
.homeMain {
    top: 0;
    left: 0;
    background-color: #ff0000;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
  }


/* box image behind name */
.titleBox {
  background-color: aqua;
  padding-top: 30px;
  padding-bottom: 20px;
}



/* makes the left for folder, right for notes */
.container {
  background-color: black;
  display: flex;
  flex: 1;
  flex-direction: row;
  height: max-content;
  margin: 0;
  padding: 0;
}

/* center title */
.title {
  text-align: center;
  flex-wrap: wrap;
}

.folderList {
  padding: 1rem;
  border-right: 1px solid #ccc;
  background-color: rgb(157, 157, 225);

}

.noteDisplay {
  background-color: #fff;
  padding: 1rem;
  margin: 0;
  width: 100%;
}

