
/* Makes home background a single color */
.homeMain {
    top: 0;
    left: 0;
    background-color: #ff0000;
    min-height: 100vh;
    width: 100%;
    margin: 0;
    padding: 0;
    /* display: flex;
    flex-direction: column; */
  }

/* allows logout to always be at bottom */
.mainContent {
  min-height: 95vh;
}


/* box image behind name */
.titleBox {
  background-color: aqua;
  padding-top: 30px;
  padding-bottom: 15px;
}



/* makes the left for folder, right for notes */
.container {
  background-color: black;
  display: flex;
  flex: 1;
  flex-direction: row;
  min-height: 60vh;
  margin-top: 50px;
  margin-bottom: 50px;
  /* margin: 0; */
  padding: 20px;
  border-radius: 20px;
}

/* center title */
.title {
  text-align: center;
  flex-wrap: wrap;
}

.folderList {
  /* padding: 2rem; */
  border-right: 1px solid #ccc;
  background-color: rgb(157, 157, 225);
  min-width: 350px;

}

/* gets rid of bullets */
.folderList ul {
  list-style: none;
  padding: 0;
  /* display: flex;
  flex-direction: column; */
}

.folderList li {
  display: flex;
  justify-content: space-between;

  align-items: center;

}

/* folder name design */
.folderName {
  flex-grow: 1;
  text-align: left;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 15px;
}

/* hover options for folder name */
.folderName:hover {
  background-color: #ff0000;
}

/* edit/delete design */
.folderButtons button {
  flex-grow: 1;
  text-align: left;
  background: none;
  cursor: pointer;
  font-size: 1rem;
  padding: 15px;
}

/* hover color for edit/delete */
.folderButtons button:hover{
  background-color: #ff0000;
}

.noteDisplay {
  background-color: #fff;
  padding: 2rem;
  margin: 0;
  width: 100%;
}

.logout {
  background-color: black;
  display: flex;
  justify-content: center;
  padding: 20px;
}

